/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {

  /* VE edit */
	font-family: "Book Antiqua", Palatino, serif;
	background-image: url(../images/bg-noise.gif);
	background-color: #180800;
  /* VE close*/
	margin: 0;
	padding: 0;
}

#page-wrapper {
	/* VE edit */
	margin-top: 10px;
  	width: 840px;
	background-color: #FFFFFF;
	border: 1px solid gold;
	/* VE close */
}

#page {
}

/* Default character styles */
p {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 100%;
	}









/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	/* VE edit */
	background-color: #180800;
	border-bottom: 1px solid gold;
	/* VE close */
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
	/* VE edit */
	background-color: #180800;
	/* VE close */
}

/*
 * Content
 */
 
/* VE copied in from layout-fixed.css, this will override that for the page display */
#content .section {
  /* VE margin: 20px; */
  padding: 0;
}
/* VE close */
 
 
/* VE - turn off Home page title */
h1#page-title {
	display: none;
}
/* VE close */



.no-sidebars #content {
  float: left; /* LTR */
  width: 780px;
  margin-left: 0; /* LTR */
  /* margin-right: -780px;  LTR   Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
	background-color: #180800;

}

#content {
	float: left; /* LTR */
	width: 840px;
	/* VE commented out from layout-fixed.css: margin-right: -780px;  LTR   Negative value of #content's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
	background-color: #180800;
	margin-left: 0; /* LTR */
}

#content .section {
}


 /* VE - CUSTOM PB PAGE STYLES */
 
 a:link {
	color: #C6B663;
	font-weight: bold;
	}
 
 a:hover, a:active, a:visited {
	color: #C6B663;
	font-weight: bold;
	}
 
 
#content-intro {
	width: 840px;
	background-image:url(../images/monastery.jpg);	
	height: 426px;
	width: 800px;
	background-color: #180800;
	margin: 10px 0 0px 20px;
	border: 1px solid white;
}


 
#content-intro h2.intro-one {
	font-size: 240%;
	width: 600px;
	line-height: 1em;
	color: #FFF;
	text-align: center;
	text-decoration: underline;
	margin: 0px 10px 50px 120px;
	padding-top: 30px;
	}
	
#content h2.intro-two {
	font-size: 200%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: #f5d975;
	margin: 20px 10px 40px 120px;
	}

 #content span.drop-cap {
	 font-size: 160%;
	 line-height: 0.85em;
	 margin-right: -0.03em;
	 margin-bottom:-0.25em;
 }

#content p.intro-three {
	font-family: "Book Antiqua",Arial;	
	font-size: 140%;
	line-height: 1.2em;
	color: #d9cfd8;
	text-align: center;
	margin: 20px 10px 25px 10px;
	padding: 20px;
	}
	
#content p.what-if {
	font-family: "Book Antiqua",Arial;	
	font-size: 180%;
	width: 620px;
	font-weight: bold;
	line-height: 1.1em;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 20px 10px 0 110px;
}

#content p.standard {
	font-family: "Book Antiqua",Arial;	
	font-size: 180%;
	line-height: 1.1em;
	font-weight: bold;
	color: #cc0000;
	text-align: center;
	margin: 10px 10px 0 10px;
	padding: 10px;
}

#content-body {
	margin-top: 10px;
	}

#content-body-wrap {
	background-color: #d8d09c;	
	width: 800px;
	background-color: #d8d09c;
	margin: 0px 0 0 20px;
	border: 1px solid white;
}

.intro-box {
	width: 720px;
	margin: 0 0 0 40px;
}

.box-white {
	width: 740px;
	background-color: white;
	border: 1px solid #cc0000; 
	margin: 15px 35px 0 30px;
	display: block;
	height: 100%;
}

.box-red-bg {
	width: 740px;
	background-color: #d8d09c;
	margin: 15px 35px 0 45px;
}

.box-gold-bg {
	width: 640px;
	border: 3px solid #C6B663;
	margin: 0 0 0 35px;
	background-color: #A5B284;
	padding: 1px 0 1px 0;	
	/* VE I don't understand why if I put any padding in here it increases the vertical padding by 30px. */
}

.bold-black  {
	font-weight: bold;
	color: #000000;

}

.testimonials {
	width: 680px;
	margin: 0 0 0 40px;
}

blockquote.quotation {
    background: url("../images/blockquote_start.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    margin: 10px 0;
    padding: 10px 35px 0;
    text-align: justify;
}

blockquote.quotation p {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 130%;
    font-style: italic;
    background: url("../images/blockquote_end.png") no-repeat scroll 100% 100% transparent;
    margin: 0 0px 0px 0;
    padding: 0 35px 10px 0;
}

blockquote {
    margin: 10px 0 10px 15px;
}

b.signature {
	font-family: Arial, sans-serif;
}

img.buynow {
	margin: 20px 0 0px 70px;
}

img.guaranteed {
	margin: 0px 0 20px 190px;
}


#content-body-grouplarge {
	margin: 0 20px 0 100px;
}
	


p.regular {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
	font-size: 130%;
	line-height: 1.2em;
	color: black;
	text-align: left;
	margin: 5px 30px 10px 20px;
	padding: 10px 0 0 15px;	
}

p.now-you-can {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 170%;
	line-height: 1.1em;
	font-weight: bold;
	color: #cc0000;
	margin: 15px 0 15px 40px;
	text-align: center;
}

/* About Page styles */
	
#inline-image {
	width: 720px;
	margin: 0 0 0 20px;
	font-size: 100%;
}

#content-about, #content-startnow {
	background-image:url(../images/monastery.jpg);
	background-repeat: no-repeat;
	width: 800px;
	background-color: #180800;
	margin: 10px 0 20px 20px;
}

#content-about-frame, #content-startnow-frame {
border: 1px solid white;
}



#content-about h2, #content-startnow h2, #content-body h2 {
	font-size: 220%;
	width: 600px;
	line-height: 1em;
	color: #C6B663;
	text-align: left;
	text-decoration: underline;
	margin: 0px 0px 20px 40px;
	padding-top: 10px;

	}
	
#content-body h2.bonus {
	color: #000000;
	text-align: center;
	margin-left: 80px;
}

#content-body h3.red {
	color: #cc0000;
	text-align: center;
	margin: 15px 0 0 80px;
}
	
#content-about h3, #content-startnow h3, #content-body h3 {
	font-family: 'IM Fell DW Pica';
	font-size: 180%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: #C6B663;
	margin: 0px 10px 0px 80px;
	}
	
#content-about h4, #content-startnow  h4 {
	font-size: 140%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: white;
	margin: 0px 10px 0px 80px;
	}
	
#content-startnow p {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	color: white;
	font-size: 130%;
	font-weight: normal;
}
	
p.about, p.startnow {
	font-family: Arial, sans serif;
	font-size: 16px;
	font-style: none;
	font-weight: normal;
	color: #FFF;
}

#content-about a  {
	color: #C6B663;
	}
	
.alert {
	background-color: #CE7563;
	margin: 20px 30px 0px 30px;
}

img.inline-left {
float: left;
margin: 0 0 0 10px;
padding: 0 25px 0 25px;	
}

p.alert {
font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
font-size: 140%;
color: white;
padding: 15px;
margin: 0 0 0px 33px;
text-align: center;
	
}

ul.tick {
	list-style: none outside none;
	margin: 10px 0;
	padding-left: 20px;
}


ul.tick li {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 130%;
    font-weight: normal;
    line-height: 130%;
    margin: 5px 0;
    padding-left: 35px;
	background: url("../images/tick.png") no-repeat scroll 0px 0px transparent;
}

.alert ul {
	list-style-type: disc;
	margin: 0 40px 0 40px;
	padding-bottom: 20px;
}

.alert li {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
	font-size: 130%;
	font-weight: normal;
	color: white;
	padding: 0;
	margin: 0;
	text-align: left;
}

p.caption-1 {
	font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    margin: 5px 10px 0 10px;
    padding: 10px;
    text-align: left;
	font-style: none;
}

p.sell-1{
	font-size: 180%;
	color: #DE1439;
	text-align: center;
	margin: 10px;
}


p.paypal-1 {
	font-size: 140%;
	text-align: center;
}

p.paypal-2 {
	font-size: 120%;
	text-align: center;
	margin: 10px;
}

span.red-text {
color: #cc0000;	
}

span.gold-text {
color: #f5d975	;
}

span.black-text {
color: #000000;
}


span.green-text {
color: #A5B284;	
}


span.uline {
	text-decoration: underline;
}

span.bold-red {
	font-weight: bold:
	color: #cc0000;
}

span.hl-yellow {
	background-color: #FFFF00
}

span.hl-yellow-2 {
	background-color: #FFFF99
}

span.hl-gold {
	background-color: #C6B663;
}

span.hl-red-gold {
	background-color: #C6B663;
	color: #cc0000;
}

span.red-highlight {
color: #cc0000;
background-color: #FFFF00;
}

span.alert {
color: #FFFFFF;
background-color: #CE7563;
}

#group-large-img {
	margin: 10px 0 10px 120px;
}

#divider {
	margin: 20px 0 30px 50px;
	}
	
#buynow-small {
	position: relative;
	top: -15px;
	left: 110px;
	height: 100%;
	display: inline;
}

#guaranteed-small {
	position: relative;
	left: 140px;
	top: 0;
	height: 100%;
	display: inline;
}

dd {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 130%;
	font-weight: bold;
	color: #840000;
	text-align: center;
	}

dl {
	display: block;
	margin: 20px 0 20px 10px;
	padding: 0;
}



ol.disc {
	margin-left: 20px;
	}

ol.disc li {
    font-weight: bold;
    line-height: 26px;
    margin: 5px 0;
    padding-left: 10px;
	background-color: #FFFF99;
	font-size: 16px;
	width: 240px;

}









/* END CUSTOM PB STYLES - VE */












.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
