/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {

  /* VE edit */
	font-family: "Book Antiqua", Palatino, serif;
	background-color: #180800;
  /* VE close*/
	margin: 0;
	padding: 0;
}

#page-wrapper {
	/* VE edit */
	top: 0px;
	margin-top: 0px;
	padding: 0;
  	width: 840px;
	/* VE close */
}

#page {
}

/* Default character styles */
p {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 100%;
	}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	/* VE edit */
	margin: 0px 0 0 0;
	background-color: transparent;
	/* VE close */
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 20px 0 0 0;
  padding: 0;
}

#logo img {
	margin: 0 0 0 35px;
	vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
	/* VE */
	background-color: #180800;
}

/*
 * Content
 */
 
/* VE copied in from layout-fixed.css to override page display */
#content .section {
  padding: 0;
}
/* VE close */

/* VE Page body - Page background image */

#page-body {
	background-image:url(../images/bg.jpg);
	background-repeat: repeat-x;
	}

/* VE - turn off Home page title - OLD */

h1#page-title {
	display: none;
}

/* VE Drop shadow style */
.shadow {
-moz-box-shadow: 3px 3px 4px #000;
-webkit-box-shadow: 3px 3px 4px #000;
.box-shadow: 3px 3px 4px #000;
/* For IE 8 */
.-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
./* For IE 5.5 - 7 */
.filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/* VE Contact Page Styles */

p.contact {
	
}

.node-contact-page {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;	
	width: 800px;
	background-color: white;
	border: 1px solid #cc0000; 
	margin: 15px 35px 0 20px;
	display: block;
	height: 100%
}


input, fieldset, legend {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;	
}

label {
	font-size: 12px;
	font-weight: normal;
	}

input#edit-submitted-email-enter-your-message {
	height: 100px;
	width: 600px;
	}

#webform-component-email--e-mail-address, #webform-component-email--send-receipt {
	float: left;
	padding-left: 30px;
}

#webform-component-email--enter-your-name, #webform-component-email--message-subject, #webform-component-email--enter-your-message  {
	float: left;
	margin-left: 30px;
	}

#edit-submitted-email-message-subject {
	width: 590px;
	}
	
input#edit-submit {
	font-size: 14px;
	width: 120px;
	height: 30px;
	float: left;
	margin: -80px 0 40px 510px;
}

 input, textarea { 
  background-color:#dfdfdf;
}

.node-contact-page h3 {
	font-family: 'IM Fell DW Pica';
	font-size: 180%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: #C6B663;
	margin: 30px 10px 0px 80px;
	}
	
#submission-confirm-wrap {
}

#submission-confirm {
	margin: 80px 0 80px 20px;
}

#submission-confirm .links, #submission-confirm p {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;	
	text-align: center;
}

.webform-client-form {
	background-color: white;
	width: 680px;
	margin: 0 0 0 40px;
	border: 1px solid green;
}

/* VE Uebercart styles */

.profile {
	margin: -23px 0 0 30px;
	background-color: #FFFFFF;
}

ul.tabs {
	margin: 20px 0 0 35px;
}

.profile h3, .profile dl {
	padding: 40px;
	}

.breadcrumb {
	display: none;
}

 table.uc-order-history {
	margin: 40px;
}

.uc-order-history tr {
	height: 30px;
	background-color: #FFFFFF;
}

.uc-order-history th {	
	width: 140px;
	height: 30px;
}

/* Login Page Styles */

.node-login-page {
	width: 800px;
	background-color: #FFFFFF;
}

.node-login-page input {
	float: none;
}

/* VE - turn off node titles of home-page nodes */
.home-page h2, .overview-page h2 {
	display: none;
}

/*VE Affiliate page styles */

#affiliate {
		font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
}

#affiliate h1 {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
	font-size: 18px;
	width: 640px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin-left: 90px;
	}

#affiliate h2 {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
	font-size: 16px;
	width: 640px;
	color: red;
	font-weight: bold;
	text-align: center;
	margin-left: 90px;
	}

#affiliate h4 {
	text-align: center;
}

#affiliate img {
	margin-left: 180px;
}

#affiliate ol {
	font-size: 14px;
	margin: 0 35px 0 35px;
}

/* VE Styles for Temporary Affiliate form copied from old PB site */

#terms fieldset {
	margin: 0 0 0 30px;

}










/* VE PB Volume Styles */

#quicktabs-prosperity_bible_volumes ul {
	margin: 0 0 0 80px;
}


#quicktabs-prosperity_bible_volumes a {
	color: red;
}



h2.volume {
	font-family: 'IM Fell DW Pica';	
	font-size:180%;
	color: red;
	text-align: center;
	float: left;
	border: none;
	width:500px;
	margin: 20px 0 0 160px;
}

.volume h3 {
	font-family: 'IM Fell DW Pica';	
	font-size: 190%;
	color: black;
	text-align: center;
	display: block;
	border: none;
	width: 500px;
	margin:0px 0 20px 160px;
}

h2.block-title {
	display: none;
}

h2.node-title {
	display: none;
}


.tabs ul.primary li a {
    background-color: #EDEDED;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000000;
    display: block;
    float: left;
    font-size: 0.929em;
    height: 1.8em;
    line-height: 1.9;
    margin: 0;
    padding: 0 10px 3px;
    text-shadow: 0 1px 0 #FFFFFF;
}

ul.primary li a {
    background-color: #DDDDDD;
    border-color: #BBBBBB;
    border-style: solid solid none;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}

/* VE - Space below node content  */

.node {
	margin-bottom: 10px;
	}





/* VE Footer */

#footer-image {
	height: 100px;
	width: 100%;
	background-image:url(../images/page_footer_bg.jpg);
	background-repeat: repeat-x;
	margin: -100px 0 0 0;

}

/* VE Set footer region height, close up the gap between node and footer */
.region-footer {
	height: 100px;
	width: 860px;
	text-align: center;
	margin-top: -20px;
	}

#footer {
	width: 800px;
	float: left;
	height: 100px;
	margin: 10px 0 0 0;
}

#footer ul {
	width: 760px;
	list-style: none outside none;
	margin: 0px 0 0px 0px;
	text-align: center;
	}
	
#footer li {
	margin: 0px 15px 0px 0px;
	display: inline;
}

#footer a:link, #footer a:visited {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}

#footer a:hover {
	color: #C6B663;
}

p.footer {
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	margin: 5px 0 0 0;
	}

/* VE Content */

.no-sidebars #content {
  float: left; /* LTR */
  width: 860px;
  margin-left: 0; /* LTR */
  /* margin-right: -780px;  LTR   Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
	background-color: #180800;

}

.view-content {
	float: left; /* LTR */
	width: 840px;
	/* VE commented out from layout-fixed.css: margin-right: -780px;  LTR   Negative value of #content's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
	background-color: #180800;
	margin-left: 0; /* LTR */
}

/* VE Override the default 1.5em table border in html-reset.css */
.view-home-page table {
	margin: 0;
}

.home-page {
	float: left; /* LTR */
	width: 840px;
	/* VE commented out from layout-fixed.css: margin-right: -780px;  LTR   Negative value of #content's width + left margin. */
	padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
	background-color: #180800;
	margin-left: 0; /* LTR */
}

#content .section {
}

 /* VE - CUSTOM PB PAGE STYLES */
 
 a:link {
	color: #C6B663;
	font-weight: bold;
	}
 
 a:hover, a:active, a:visited {
	color: #C6B663;
	font-weight: bold;
	}
 
 
#content-intro, .intro-box {
	background-image:url(../images/monastery.jpg);
	background-repeat: no-repeat;
	width: 800px;
	background-color: #180800;
	margin: 10px 0 0px 20px;
	border: 1px solid white;
}

.intro-box h2 {
	font-size: 200%;
	width: 600px;
	line-height: 1em;
	color: #FFF;
	text-align: center;
	text-decoration: underline;
	margin: 0px 10px 20px 100px;
	padding-top: 10px;
	display: block;
}

.intro-box h3 {
	font-family: 'IM Fell DW Pica';
	font-size: 160%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: #C6B663;
	margin: 0px 10px 0px 80px;
}

.intro-box p.about {
	margin: 10px 40px 10px 40px;
}
 
.home-page h2.intro-one {
	font-size: 240%;
	width: 600px;
	line-height: 1em;
	color: #FFF;
	text-align: center;
	text-decoration: underline;
	margin: 0px 10px 50px 120px;
	padding-top: 30px;
	display: block;
	}
	
.home-page h2.intro-two {
	font-size: 200%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: #f5d975;
	margin: 20px 10px 40px 120px;
	display: block;
	}

#content span.drop-cap {
	 font-size: 160%;
	 line-height: 0.85em;
	 margin-right: -0.03em;
	 margin-bottom:-0.25em;
 }

#content p.intro-three {
	font-family: "Book Antiqua",Arial;	
	font-size: 140%;
	line-height: 1.2em;
	color: #d9cfd8;
	text-align: center;
	margin: 20px 10px 25px 10px;
	padding: 20px;
}

	
#content p.what-if {
	font-family: 'IM Fell DW Pica';	
	font-size: 180%;
	width: 620px;
	font-weight: bold;
	line-height: 1.1em;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 20px 10px 10px 110px;
}

#content p.standard {
	font-family: "Book Antiqua",Arial;	
	font-size: 180%;
	line-height: 1.1em;
	font-weight: bold;
	color: #cc0000;
	text-align: center;
	margin: 10px 10px 0 10px;
	padding: 10px;
}

#content-body {
	margin-top: 10px;
	}

#content-body-wrap {
	background-color: #d8d09c;	
	width: 800px;
	background-color: #d8d09c;
	margin: 0px 0 0 20px;
	border: 1px solid white;
}

.box-white, .volume, .topics  {
	width: 800px;
	background-color: white;
	border: 1px solid gold; 
	margin: 5px 35px 0 20px;
	display: block;
	height: 100%;
}

.volume {
	border-top: none;
}


.box-red-bg {
	width: 740px;
	background-color: #d8d09c;
	margin: 15px 35px 0 45px;
}

.box-gold-bg {
	width: 640px;
	border: 3px solid #C6B663;
	margin: 0 0 0 60px;
	background-color: #A5B284;
	padding: 1px 0 1px 0;	
	/* VE I don't understand why if I put any padding in here it increases the vertical padding by 30px. */
}

.bold-black  {
	font-weight: bold;
	color: #000000;

}

.testimonials {
	width: 680px;
	margin: 0 0 0 40px;
}

blockquote.quotation {
    background: url("../images/blockquote_start.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    margin: 10px 0;
    padding: 10px 35px 0;
    text-align: justify;
}

blockquote.quotation p {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 130%;
    font-style: italic;
    background: url("../images/blockquote_end.png") no-repeat scroll 100% 100% transparent;
    margin: 0 0px 0px 0;
    padding: 0 35px 10px 0;
}

blockquote {
    margin: 10px 0 10px 15px;
}

b.signature {
	font-family: Arial, sans-serif;
}

img.buynow {
	margin: 20px 0 0px 90px;
}

img.guaranteed {
	margin: 0px 0 20px 210px;
}

#content-body-grouplarge {
	margin: 20px 20px 0 130px;
}

h1.intro {
	font-family: 'IM Fell DW Pica';		
	font-size: 180%;
	line-height: 1.2em;
	color: white;
	text-align: center;
	margin: 5px 30px 10px 20px;
	padding: 10px 0 0 0;
	}

p.regular, p.reg-center, p.reg-justify {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
	font-size: 130%;
	line-height: 1.2em;
	color: black;
	text-align: left;
	margin: 5px 30px 10px 20px;
	padding: 10px 0 0 15px;	
}

p.intro, p.intro-center, p.intro-justify {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
	font-size: 130%;
	line-height: 1.2em;
	color: white;
	text-align: left;
	margin: 5px 30px 10px 20px;
	padding: 10px 0 0 15px;	
}

p.reg-center {
	text-align: left;
}

p.reg-justify {
	text-align: justify;
}

p.now-you-can, p.read-on {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 170%;
	line-height: 1.1em;
	font-weight: bold;
	color: #cc0000;
	margin: 10px 0 5px 40px;
	text-align: center;
}

p.read-on {
	margin-bottom: 20px;
	}

/* About Page styles */

h4.about {
	text-align: center;
	color: #FFFFFF;
	margin: 25px 0 5px 0;
}
	
#inline-image {
	width: 720px;
	margin: 0 0 0 20px;
	font-size: 100%;
}

#content-about, #content-startnow {
	background-image:url(../images/monastery.jpg);
	background-repeat: no-repeat;
	width: 800px;
	background-color: #180800;
	margin: 10px 0 20px 20px;
}

#content-about-frame, #content-startnow-frame {
border: 1px solid white;
}

#content-about h2, #content-startnow h2, #content-body h2 {
	font-size: 220%;
	width: 600px;
	line-height: 1em;
	color: #C6B663;
	text-align: left;
	text-decoration: underline;
	margin: 0px 0px 20px 40px;
	padding-top: 10px;
	}
	
#guarantee h1 {
	color: #C7B553;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

#guarantee h2 {
	font-size: 18px;
	color: #757575;
	text-align: center;
	text-decoration: underline;
}
	
#guarantee h3 {
	font-family: 'Droid Serif', Georgia, "Book Antiqua", serif;	
	font-size: 120%;
	line-height: 1em;
	color: #00000;
	text-transform: uppercase;
	margin: 0px 0px 20px 40px;
	padding-top: 10px;
	}


#guarantee img {
	margin: 0 0 0 200px;
}

/* Terms And Conditions Pages */
	
#terms, p.terms, #footer p.footer, #terms p.disclaimers, p.contact {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;
}
	
#terms h1 {
	font-size: 160%;
	line-height: 1.1em;
	color: #00000;
	text-align: center;
	margin: 20px 0px 20px 0px;
	padding-top: 10px;
}

#terms h2 {
	font-weight: bold;
	line-height: 1em;
	color: #00000;
	text-align: center;
	margin: 0px 0px 20px 40px;
	padding-top: 10px;
	text-decoration: underline;
}

#terms h4 {
	font-weight: bold;
	line-height: 1em;
	color: #000000;
	text-align: center;
	margin: 0px 0px 20px 40px;
	padding-top: 10px;
	text-decoration: underline;
}

#terms a, #terms a:hover, #terms a:active, #terms a:visited {
    color: #000000;
    font-weight: bold;
	text-decoration: none;
}

p.terms, p.contact {
	font-size: 14px;
	margin: 10px 30px 10px 40px;
}

#terms p.disclaimers {
	margin: 0 30px 5px 40px;
}

#terms ul {
	width: 720px;
	font-size: 14px;
	list-style-type: none;
	margin-left: 20px;
}

#terms ol {
	margin: 0 50px 10px 20px;
	}

#terms img {
	margin: 0 0 0 190px;
}

#terms dl {
	margin-left: 40px;
}


	
/* Content page styles  */

#content-body h3.red {
	color: #cc0000;
	text-align: center;
	margin: 15px 0 0 80px;
}
	
#content-about h3, #content-startnow h3, #content-body h3 {
	font-family: 'IM Fell DW Pica';
	font-size: 180%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: #C6B663;
	margin: 0px 10px 0px 80px;
	}
	
#content-about h4, #content-startnow  h4 {
	font-size: 140%;
	width: 600px;
	line-height: 1em;
	text-align: center;
	color: white;
	margin: 0px 10px 0px 80px;
}
	
#content-startnow p {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	color: white;
	font-size: 130%;
	font-weight: normal;
}
	
p.about, p.startnow {
	font-family: Arial, sans serif;
	font-size: 16px;
	font-style: none;
	font-weight: normal;
	color: #FFF;
}

#content-about a  {
	color: #C6B663;
}

ul.tick {
	list-style: none outside none;
	margin: 10px 0;
	padding-left: 20px;
}


ul.tick li {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 130%;
    font-weight: normal;
    line-height: 130%;
    margin: 5px 0;
    padding-left: 35px;
	background: url("../images/tick.png") no-repeat scroll 0px 0px transparent;
}

.included {
	width: 760px;
	background-color: #CE7563;
	margin: 5px 30px 0px 20px
}
	


img.inline-left {
float: left;
margin: 0 0 0 10px;
padding: 0 25px 0 25px;	
}

p.alert, p.included {
font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
font-size: 140%;
line-height: 1.1em;
color: white;
width: 700px;
padding: 15px;
margin:0px 40px 0px 40px;
text-align: center;
}

p.explore {
	font-size: 140%;
	color: white;
	width: 600px;
	padding: 15px;
	margin: 15px 10px 15px 50px;
	text-align: center;
	background-color: #CE7563;
}

p.included {
	width: 650px;
}

.alert {
	width: 760px;
	background-color: #CE7563;
	margin: 5px 30px 0px 40px;
}

.included  ul {
	list-style-type: disc;
	margin: 0 40px 0 40px;
	padding-bottom: 20px;
}

.included  li {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;	
	font-size: 130%;
	font-weight: normal;
	color: white;
	padding: 0;
	margin: 0;
	text-align: left;
}


p.caption-1 {
	font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    margin: 5px 10px 20px 10px;
    padding: 10px;
    text-align: left;
	font-style: none;
}

p.sell-1{
	font-size: 180%;
	color: #DE1439;
	text-align: center;
	margin: 10px;
}

p.paypal-1 {
	font-size: 140%;
	text-align: center;
}

p.paypal-2 {
	font-size: 120%;
	text-align: center;
	margin: 10px;
}

span.red-text {
color: #cc0000;	
}

span.gold-text {
color: #f5d975	;
}

span.black-text {
color: #000000;
}

span.green-text {
color: #A5B284;	
}

span.uline {
	text-decoration: underline;
}

span.bold-red {
	font-weight: bold:
	color: #cc0000;
}

span.hl-yellow {
	background-color: #FFFF00
}

span.hl-yellow-2 {
	background-color: #FFFF99
}

span.hl-gold {
	background-color: #C6B663;
}

span.hl-red-gold {
	background-color: #C6B663;
	color: #cc0000;
}

span.red-highlight {
color: #cc0000;
background-color: #FFFF00;
}

span.alert {
color: #FFFFFF;
background-color: #CE7563;
}

#group-large-img {
	margin: 10px 0 10px 120px;
}

#divider {
	margin: 10px 0 0px 50px;
	}
	
#buynow-small {
	position: relative;
	top: -15px;
	left: 110px;
	height: 100%;
	display: inline;
}

#guaranteed-small {
	position: relative;
	left: 140px;
	top: 0;
	height: 100%;
	display: inline;
}

dd {
	font-family: "Book Antiqua", Palatino, "Times New Roman", serif;
	font-size: 130%;
	font-weight: bold;
	color: #840000;
	text-align: center;
	}

dl {
	display: block;
	margin: 20px 0 20px 0px;
	padding: 0;
}



ol.disc {
	margin-left: 20px;
	}

ol.disc li {
    font-weight: bold;
    line-height: 26px;
    margin: 5px 0;
    padding-left: 10px;
	background-color: #FFFF99;
	font-size: 16px;
	width: 400px;

}

/* END CUSTOM PB STYLES - VE */


.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}

/*SUPERFISH Menu */
ul#superfish-1 {
	font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Lucida",Verdana,"Bitstream Vera Sans",sans-serif;	
	list-style: none outside none;
}

ul#superfish-1 a {
	text-decoration: none;
	
}

ul#superfish-1 .sf-depth-1 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 2px;
    padding: 0.1em 1em;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
}

.sf-menu, .sf-menu * {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul#superfish-1 .active-trail {
	background-color: #200C05;
}

#superfish-1 span.sf-description {
	font-style: italic;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: none;
	margin: 0;
	padding: 0;
	display: block;
}